* {
  font-size: 14px;
  font-family: sans-serif;
  /* we will override this on the individual parts
   * we want to be selectable */
  user-select: none;
  box-sizing: border-box;
}

body {
	width: 350px;
	padding: 5px;
}
