@import url('https://rsms.me/inter/inter.css');
* { font-family: 'Inter', sans-serif; }
* {
  font-size: 14px;
  /* we will override this on the individual parts
   * we want to be selectable */
  user-select: none;
  box-sizing: border-box;
}

body {
	min-width: 350px;
	padding: 5px;
}

.muted-text {
  color: #545454;
}

.no-comments-message {
  text-align: center;
}